@model PlantMetabolitesDB.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Change Password</h5>
            <div class="card-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "changePasswordForm", @class = "row g-3" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="form-password-toggle">
                            @Html.LabelFor(d => d.OldPassword, new { @class = "form-label" })
                            <div class="input-group input-group-merge">
                                @Html.PasswordFor(e => e.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @autofocus = "autofocus", @aria_describedby = "OldPassword-default-password" })
                                <span class="input-group-text cursor-pointer" id="OldPassword-default-password"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-password-toggle">
                            @Html.LabelFor(d => d.NewPassword, new { @class = "form-label" })
                            <div class="input-group input-group-merge">
                                @Html.PasswordFor(e => e.NewPassword, new { @class = "form-control", @placeholder = "New Password", @autofocus = "autofocus", @aria_describedby = "NewPassword-default-password" })
                                <span class="input-group-text cursor-pointer" id="NewPassword-default-password"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-password-toggle">
                            @Html.LabelFor(d => d.ConfirmPassword, new { @class = "form-label" })
                            <div class="input-group input-group-merge">
                                @Html.PasswordFor(e => e.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @autofocus = "autofocus", @aria_describedby = "ConfirmPassword-default-password" })
                                <span class="input-group-text cursor-pointer" id="ConfirmPassword-default-password"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <input type="submit" value="Change" class="btn btn-primary" id="submitButton" name="submitButton" />

                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12 mt-lg-4 m-lg-2">
                        <span id="successMesasge" class="text-success"></span>
                        <span id="errorMessage" class="text-danger"></span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script src="~/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
<script>
    $(function (e) {
        const a = document.getElementById("changePasswordForm");
        const submitButton = document.getElementById('submitButton');

        s = FormValidation.formValidation(
            a, {
            fields: {
                OldPassword: {
                    validators: {
                        notEmpty: { message: "Please enter old password" },
                        //regexp: {
                        //    regexp: '^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#$%^&-+=()])(?=\\S+$).{8,10}$',
                        //    message: 'Password contains at least 8 characters and at most 10 characters. It contains at least one digit.It contains at least one upper case alphabet. It contains at least one lower case alphabet. It contains at least one special character which includes !@@#$%&*()-+=^. It doesn’t contain any white space.'
                        //},
                    },
                },
                NewPassword: {
                    validators: {
                        notEmpty: { message: "Please enter new password" },
                        regexp: {
                            regexp: '^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#$%^&-+=()])(?=\\S+$).{8,10}$',
                            message: 'Password contains at least 8 characters and at most 10 characters. It contains at least one digit.It contains at least one upper case alphabet. It contains at least one lower case alphabet. It contains at least one special character which includes !@@#$%&*()-+=^. It doesn’t contain any white space.'
                        },
                    },
                },
                ConfirmPassword: {
                    validators: {
                        notEmpty: { message: "Please enter confirm password" },
                        identical: {
                            compare: function () {
                                return a.querySelector('[name="NewPassword"]').value;
                            },
                            message: "The new password and its confirm are not the same",
                        },
                    },
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5({
                    eleValidClass: "",
                    rowSelector: ".col-12",
                }),
                submitButton: new FormValidation.plugins.SubmitButton(),
                autoFocus: new FormValidation.plugins.AutoFocus(),
            },


        }).on('core.form.valid', function () {
            debugger;
            // Disable the submit button
            $('#errorMessage').text('');
            submitButton.setAttribute('disabled', true);
            document.getElementById('submitButton').value = 'Changing Password...';

            var valdata = $("#changePasswordForm").serialize();
            $.ajax({
                url: "/Account/ChangePassword",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata,
                success: function (response) {
                    debugger;
                    document.getElementById('submitButton').value = 'Change Password';
                    submitButton.removeAttribute('disabled');
                    if (response == "Success") {
                        $('#NewPassword').val('');
                        $('#OldPassword').val('');
                        $('#ConfirmPassword').val('');

                        $('#successMesasge').text('Password changed successfully.');
                    }
                    else if (response == "Failed") {
                        $('#errorMessage').text('Password not changed');
                    }
                    else {
                        $('#errorMessage').text('Invalid old password!');
                    }
                },
                error: function (response) {
                    $('#errorMessage').text('Something went wrong!')
                }
            });
        });
    });
</script>