@model PlantMetabolitesDB.ViewModel.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/images/fav.png" rel="icon">
    <link href="~/Content/images/fav.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/signin-style.css">
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="ag-night-sky_clouds"></div>
    <div class="bg-img"></div>
    <section>
        <div class="logn-logo-grid">
            <div class="container">
                <div class="row">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" alt="" class=""></a>
                </div>
            </div>
        </div>
        <div id="login-box">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "login-form", @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-warning" })

                <h3 class=""> Recover Password</h3>
                <div class="form-group-text">
                    <span><img src="~/Content/images/user-icon.png" alt="user-icon"></span>
                    @*<input type="text" name="email" id="" class="form-control-iwwa" placeholder="Enter your Email and instructions will be sent to you!">*@
                    @Html.TextBoxFor(e => e.EmailId, new { @class = "form-control-iwwa", @placeholder = "Enter your Email Address" })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-warning" })
                    @Html.ValidationMessage("EmailNotExists", new { @class = "text-warning" })
                </div>

                <div class="form-group">

                    <div class="pull-right"> <a href="@Url.Action("Login", "Account")" class="member_forgot"><i class="fa fa-lock" aria-hidden="true"></i> Login</a> </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <button type="submit" name="Reset" class="submit_btn" value="Reset">Reset</button>
                </div>
                <div class="form-group">
                    <p class="member_register">Don't have an account? <a href="@Url.Action("Register", "Account")">Signup</a></p>
                </div>
                <div class="form-group">
                    <a href="@Url.Action("Index", "Home")" class="home_btn">Go To Home </a>
                </div>
                <div class="clearfix"></div>
                <div class="form-group mt-3">
                    
                    @Html.ValidationMessage("PasswordSend", new { @class = "text-white" })
                    </div>
                }

                </div>
</section>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
