@model PlantMetabolitesDB.ViewModel.MSIonSearchViewModel
@{
    ViewBag.Title = "MS/MS Ion Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }
</style>
<div class="breadcrumb-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="header_title">Search By Product Ion</h3>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">MS/MS Ion Search</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="inner-grid">

    <div class="feedback-container">

        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "msIonSearchForm", @class = "row" }))
        {
            <div class="container">
                <div id="search-filter" class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="title-head"><b>MS/MS Ion : Identification of Compound/Metabolite based on single MS/MS data.</b></p>
                    </div>
                    <div class="col-md-8 offset-md-2">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="feedback-form pad-right">
                                    @Html.LabelFor(d => d.DatabaseKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.DatabaseKey, new SelectList(Model.Databases, "DatabaseKey", "DatabaseName"), "All", new { @class = "form__input" })
                                    @Html.Hidden("hdDatabase")
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    @Html.LabelFor(d => d.InstrumentKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.InstrumentKey, new SelectList(Model.Instruments, "InstrumentKey", "InstrumentName"), "Select", new { @class = "form__input" })
                                    @Html.Hidden("hdInstrument")
                                </div>

                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="feedback-form pad-right">
                                    @Html.LabelFor(d => d.PrecursorIon, new { @class = "form__label" })
                                    @Html.TextBoxFor(e => e.PrecursorIon, new { @class = "form__input" })
                                    @Html.Hidden("hdPrecursorIon")
                                </div>
                                <span id="spnPrecursorIon" class="text-danger mt-2"></span>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    @Html.LabelFor(d => d.PolarityKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.PolarityKey, new SelectList(Model.Polaritys, "Value", "Text"), new { @class = "form__input" })
                                    @Html.Hidden("hdPolarity")
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="feedback-form pad-right">
                                    @Html.LabelFor(d => d.ReportTopKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.ReportTopKey, new SelectList(Model.ReportTops, "Value", "Text"), new { @class = "form__input" })

                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br>
                                <p class="title-head"><b> Enter the Product Ion Information:</b></p>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feedback-form pad-right">
                                    @Html.LabelFor(d => d.ProductIonKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.ProductIonKey, new SelectList(Model.ProductIons, "Value", "Text"), new { @class = "form__input" })

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    @Html.LabelFor(d => d.IntensityTypeKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.IntensityTypeKey, new SelectList(Model.IntensityTypes, "Value", "Text"), new { @class = "form__input" })

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    @Html.LabelFor(d => d.ToleranceKey, new { @class = "form__label" })
                                    @Html.DropDownListFor(e => e.ToleranceKey, new SelectList(Model.Tolerances, "Value", "Text"), new { @class = "form__input" })

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    <label for="name" class="form__label">m/z</label>

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feedback-form">
                                    <label for="name" class="form__label">Intensity %</label>

                                </div>
                            </div>
                        </div>
                        <div id="generateProductIon"></div>

                        <div class="col-md-6 col-sm-6 col-6">
                            <input type="button" value="Search" class="search-btn" id="submitButton" name="submitButton" />
                        </div>
                    </div>
                </div>

                <div id="search-result" class="row">
                    <div class="col-md-12 no-print">
                        <input type="button" class="btn btn-success" id="printSearchResult" onclick="PrintSearchResult()" value="Print" style="float:right" />
                        <button type="button" id="btnBacktofilter" class="btn btn-dark" style="float:right; margin-right:7px">Back</button>

                    </div>
                    <div id="SearchResult"></div>
                </div>
                <div id="compound-summary">
                    <div class="row">
                        <div class="col-md-10"> <h4 class="mb-0 pull-left"><strong>Compound Summary</strong></h4></div>
                        <div class="col-md-2">
                            <button type="button" id="btnBack" class="btn btn-dark">Back</button>
                            <input type="button" class="btn btn-success" id="printCompound" onclick="PrintCompoundSummary()" value="Print" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="compound-preview-body">

                        </div>
                    </div>
                </div>

                <div id="data-coverage">
                    <div class="row">
                        <div class="col-md-10"> <h4 class="mb-0 pull-left"><strong>Data Coverage - Standard Vs Sample Data</strong></h4></div>
                        <div class="col-md-2">
                            <button type="button" id="btnDCBack" class="btn btn-dark">Back</button>
                            <input type="button" class="btn btn-success" id="printDataConverage" onclick="PrintDataCoverate()" value="Print" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="data-coverage-body">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Modal 2-->
    <div class="modal fade" id="modalSpectraDetails" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#deebff">
                    <h5 class="modal-title" id="modalToggleLabel2"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mass-detail-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnPreviewModel" data-bs-dismiss="modal">Back to Compound Summary</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        const submitButton = document.getElementById('submitButton');
        $('#spnPrecursorIon').text('');
    var prodIonCount = '@ViewBag.ProductIonCount';
        $(function () {

            $("#PrecursorIon").keyup(function () {
                debugger;
                var val = $(this).val();
                var regex = new RegExp(/^\d{0,5}$/);
                $('#spnPrecursorIon').text('');
                submitButton.removeAttribute('disabled');
                if (val != '') {
                    if (!regex.test(val)) {
                        $('#spnPrecursorIon').text('Only number with 5 digit are allowed');
                        submitButton.setAttribute('disabled', true);
                    }
                }

            });

        ProductIon();
        FillInstrument(0);

        $('#search-result').hide();
        $('#search-filter').show();
        $('#compound-summary').hide();
        $('#data-coverage').hide();

        $('#ProductIonKey').on("change", function () {
            prodIonCount = $('#ProductIonKey').val();
            ProductIon();
        });

        $('#DatabaseKey').on("change", function () {
            var dbKey = $('#DatabaseKey option:selected').val();
            if (dbKey != "") {
                FillInstrument(dbKey);
            }
            else {
                FillInstrument(0);
            }
        });
    });

        function ProductIon() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProductIon", "MSSearch")',
                contentType: "application/json; charset=utf-8",
                data: { "pdcount": prodIonCount },
                datatype: "html",
                success: function (data) {
                    $('#generateProductIon').html(data);
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        function FillInstrument(dbKey) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInstrument", "MSSearch")',
                contentType: "application/json; charset=utf-8",
                data: { "databaseKey": dbKey },
                datatype: "json",
                success: function (response) {
                    $('#InstrumentKey').html('');
                    var options = '';
                    options += '<option value="">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].InstrumentKey + '">' + response[i].InstrumentName + '</option>';
                    }
                    $('#InstrumentKey').append(options);
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }
    </script>
    <script>
        $('#submitButton').click(function (e) {
            e.preventDefault();
            if ($('#InstrumentKey').val() == '') {
                alert('Please select instrument.');
                $('#InstrumentKey').focus();
                return false;
            }
            var gpcount1 = $('#generateProductIon').find('input').length;
            for (var k = 0; k < gpcount1; k++) {
                var mz = $('#generateProductIon').find('input#mz_' + k).val();
                if (mz == '') {
                    alert('Please enter mz value.');
                    $('#generateProductIon').find('input#mz_' + k).focus();

                    return false;
                }

                var intensity = $('#generateProductIon').find('input#intensity_' + k).val();
                if (intensity == '') {
                    alert('Please enter intensity value.');
                    $('#generateProductIon').find('input#intensity_' + k).focus();

                    return false;
                }

            }

            var msIonSearchViewModel = {};
            msIonSearchViewModel.DatabaseKey = $('#DatabaseKey').val();
            msIonSearchViewModel.InstrumentKey = $('#InstrumentKey').val();
            msIonSearchViewModel.PrecursorIon = $('#PrecursorIon').val();
            msIonSearchViewModel.PolarityKey = $('#PolarityKey').val();
            msIonSearchViewModel.ReportTopKey = $('#ReportTopKey').val();
            msIonSearchViewModel.ProductIonKey = $('#ProductIonKey').val();
            msIonSearchViewModel.IntensityTypeKey = $('#IntensityTypeKey').val();
            msIonSearchViewModel.ToleranceKey = $('#ToleranceKey').val();
            msIonSearchViewModel.AnnotationKey = 0;
            msIonSearchViewModel.MassSpectraType = 0;
            msIonSearchViewModel.InstrumentName = $('#InstrumentKey option:selected').text();

            var generateProductIons = [];
            var gpcount = $('#generateProductIon').find('input').length;
            for (var k = 0; k < gpcount; k++) {
                objGenerateProductIon = {};
                objGenerateProductIon.mz = $('#generateProductIon').find('input#mz_' + k).val();
                objGenerateProductIon.Intensity = $('#generateProductIon').find('input#intensity_' + k).val();

                generateProductIons.push(objGenerateProductIon)
            }
            msIonSearchViewModel.GenerateProductIons = generateProductIons;
            $.blockUI({
                message:
                    '<div class="spinner-border text-white" role="status"></div>',
                css: { backgroundColor: "transparent", border: "0" },
                overlayCSS: { opacity: 0.5 },
            });
           // var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                url: "/MSSearch/GetMSSearch",
                type: "POST",

                dataType: 'html',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(msIonSearchViewModel),
                success: function (result) {
                    $.unblockUI();
                    $('#SearchResult').html(result)
                    $('#search-result').show();
                    $('#search-filter').hide();
                    $('#compound-summary').hide();
                    $('#data-coverage').hide();
                    $('#lblDatabase').text($('#DatabaseKey option:selected').text())
                    $('#lblInstrument').text($('#InstrumentKey option:selected').text())
                    $('#lblPrecursorIon').text($('#PrecursorIon').val())
                    $('#lblPolarity').text($('#PolarityKey option:selected').text())

                    $('#hdDatabase').text($('#DatabaseKey option:selected').text())
                    $('#hdInstrument').text($('#InstrumentKey option:selected').text())
                    $('#hdlPrecursorIon').text($('#PrecursorIon').val())
                    $('#hdPolarity').text($('#PolarityKey option:selected').text())
                },
                failure: function (response) {
                    $.unblockUI();
                    console.log(response.responseText);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.unblockUI();
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });

        $('#btnBack').click(function () {
            $('#search-result').show();
            $('#compound-summary').hide();
            $('#data-coverage').hide();
            $('#search-filter').hide();
        });

        $('#btnBacktofilter').click(function () {
            $('#search-result').hide();
            $('#search-filter').show();
            $('#compound-summary').hide();
            $('#data-coverage').hide();
        });

        $('#btnDCBack').click(function () {
            $('#search-result').show();
            $('#compound-summary').hide();
            $('#data-coverage').hide();
            $('#search-filter').hide();
        });

        function MassSpectra(msid, mstype) {
            $.blockUI({
                message:
                    '<div class="spinner-border text-white" role="status"></div>',
                css: { backgroundColor: "transparent", border: "0" },
                overlayCSS: { opacity: 0.5 },
            });
        var options = { "backdrop": "static", keyboard: true };
          $.ajax({
              type: "GET",
              url: '@Url.Action("GetMassSpectraDetails", "GeneralSearch")',
              contentType: "application/json; charset=utf-8",
              data: { "spectraKey": msid, "spectraType": mstype },
              datatype: "json",
              success: function (data) {
                  $.unblockUI();
                  $('.mass-detail-body').html(data)
                  $('#modalSpectraDetails').modal(options);
                  $('#modalSpectraDetails').modal('show');
                  $('#compoundPreviewModal').modal('toggle');
              },
              error: function () {
                  $.unblockUI();
                  alert("Data load failed.");
              }
          });
        }

        function checkmzinput(id) {
            debugger;
            var val = $('#mz_' + id).val();
            var regex = new RegExp(/^\d{0,5}$/);
            $('#spnmz_' + id).text('');
            submitButton.removeAttribute('disabled');
            if (val != '') {
                if (!regex.test(val)) {
                    $('#spnmz_' + id).text('Only numaric with 5 digit allowed');
                    submitButton.setAttribute('disabled', true);
                }
            }
        }

        function checkintensityinput(id) {
            debugger;
            var val = $('#intensity_' + id).val();
            var regex = new RegExp(/^\d{0,5}(\.\d{1,5})?$/);
            $('#spnintensity_' + id).text('');
            submitButton.removeAttribute('disabled');
            if (val != '') {
                if (!regex.test(val)) {
                    $('#spnintensity_' + id).text('Only numaric with 10 digit to be allowed including decimal');
                    submitButton.setAttribute('disabled', true);
                }
            }
        }
    </script>
    <script type="text/javascript">
        function PrintDiv() {
            var divToPrint = document.getElementById('compound-summary');
            var popupWin = window.open('', '_blank', 'width=600,height=600,location=no,left=200px');
            popupWin.document.open();
            popupWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
            popupWin.document.close();
        }
    </script>
}